# Autoriser les requêtes POST
<Limit POST>
  Allow from all
</Limit>

# Interdire l'accès direct aux fichiers sensibles 
<FilesMatch "^\.">
    Order Deny,Allow
    Deny from all
</FilesMatch>

<IfModule mod_deflate.c>
    # Compression des fichiers texte
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript
</IfModule>

# Protéger le répertoire lib
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^lib/ - [F,L]
</IfModule>